body {
    color: #494e52;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    line-height: 1.2;
    margin: 10;
    padding: 10;
    background-color: #f4f4f4;
}

header {
    padding: 0.5em;
    text-align: center;
    /* background: #333333; */
    background-image: url('./images/gwb.jpg');
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image in the header */
    height: 300px; /* You can adjust the height of the header */
    color: white; /* Text color for contrast */
    display: flex; /* Optional: for layout purposes if you need centered text */
    align-items: center; /* Optional: centers content vertically */
    justify-content: center; /* Optional: centers content horizontally */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.image {
    margin: 10pt;
    width: 130pt; /* Set the image size */
    height: auto; /* Keeps the image's aspect ratio */
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    padding: 0pt;
    margin: 0pt;
    margin-top: 10pt;
    margin-bottom: 0pt;
}

ul {
    margin: 0pt; /* Adjusts indentation of the whole list */
    padding: 0pt; /* Adjusts indentation of the whole list */
    list-style-position: inside;
}

li {
    margin: 0pt;  /* Adds vertical spacing between list items */
    padding: 0pt; /* Adds space inside each list item */
}

footer {
    text-align: center;
    padding: 10px;
    background: #333333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

button {
    /* background-color: #4CAF50; Green background */
    /* border: none; */
    /* color: white; */
    margin: 6pt;
    padding: 10pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15pt;
}
